* {
  box-sizing: border-box;
}

body {
  background-color: rgb(207, 182, 231);
}

.container {
  padding: 0 30px;
}

input {
  color: black;
  background-color: #ffff;
  border: 1pix solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 1rem;
  font-size: 1rem;
  display: inline-block;
}

input:focus,
s button:focus {
  outline: 0;
}

button {
  color: white;
  background-color: rgb(33, 0, 65);
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: rgb(104, 12, 196);
}

.fruta {
  background-color: white;
  width: 50%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.fruta ul {
  list-style: none;
}

.fruta ul li {
  margin-bottom: 0.5rem;
}

.fruta button {
  position: relative;
  top: -2.5rem;
  right: -0.5rem;
  border: none;
  color: white;
  background: none;
  cursor: pointer;
  line-height: 1rem;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  background-color: blueviolet;
  padding: 0.2rem 0.35rem 0.35rem 0.35rem;
}
